.board{
    width: 900px;
    height: 700px;
    background-color: coral;
    position: relative;
}

/* .circle{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid cornflowerblue;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 75px;
} */